%div{:id => "fb-root"}
%h1
  Client Posting

#facebook-identity
  - if @authorized == false
    %label
      Log in with Facebook:  
    <fb:login-button length="long" scope="email,publish_stream"></fb:login-button>
    
= form_tag( reviews_path, :method => 'post') do
  = text_field_tag('first_name','')
  %br
  = text_field_tag('last_name','')
  %br
  = text_field_tag('email','')
  %br
  = submit_tag("Submit")
    
%script{:src => "//connect.facebook.net/en_US/all.js"}
:javascript
  var appId = "#{FACEBOOK_SETTINGS[:api_key]}";

  $(document).ready(function(){
    FB.init({
       appId      : appId,
       status     : true, // check login status
       cookie     : true, // enable cookies to allow the server to access the session
       xfbml      : true  // parse XFBML
     });
     
     FB.Event.subscribe('auth.authResponseChange',
         function(response) {
             if (response.status == "connected"){
                FB.api('/me', function(response) {
                  if(response.email !== undefined){
                    var keys = new Array('email', 'first_name', 'last_name');
                    for (i in keys) {
                      jQuery('#' + keys[i]).val(response[keys[i]]);
                    }                    
                  }
                });
             }
         }
     );          
    
  });
