#footer
  %ul
    %li= link_to "Blog", "http://blog.customerlobby.com/"
    %li= link_to "Answers", "#"
    %li= link_to "Partners", "#"
    %li= link_to "Privacy", "#"
    %li= link_to "Terms", "#"
    %li= link_to "About", "#"
    %li= link_to "Contact", "#"
  %p      
    Your continuing use of this site is subject to 
    = link_to "these Terms.", "#"
    %br
    &copy; 2012 Customer Lobby, LLC. All Rights Reserved. <a href="/html-sitemap" id="sitemap_link">Sitemap.</a>
