!!! 5
%html
  %head
    %title
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin" 
    = csrf_meta_tags 	
  %body	
    = render :partial => "layouts/header"
    = flash[:error]
    = yield